.card {
  position: relative;
  height: 8.89rem;
  width: 18.11rem;

  border-radius: 0.5rem;

  overflow: hidden;

  margin-top: 1.33rem;

  @media screen and (min-width: 70rem) {
    margin-top: 0;
    height: calc(100% - 0.5rem);
  }

  //============================

  $bg-colors: (
    work: $color-bg-card-work,
    play: $color-bg-card-play,
    study: $color-bg-card-study,
    exercise: $color-bg-card-exercise,
    social: $color-bg-card-social,
    self-care: $color-bg-card-self-care,
  );

  $bg-img: (
    work: url(../../images/icon-work.svg),
    play: url(../../images/icon-play.svg),
    study: url(../../images/icon-study.svg),
    exercise: url(../../images/icon-exercise.svg),
    social: url(../../images/icon-social.svg),
    self-care: url(../../images/icon-self-care.svg),
  );

  @each $var, $value in $bg-colors {
    &__list-#{$var} > div:first-child {
      background-color: map-get($bg-colors, $var);
      background-image: map-get($bg-img, $var);
    }
  }

  //============================

  &__head {
    position: absolute;
    z-index: 5;

    width: 100%;
    height: 2.89rem;

    background-repeat: no-repeat;
    background-position: right top;
  }

  &__body {
    position: absolute;
    z-index: 10;
    bottom: 0;

    display: flex;
    flex-direction: column;
    justify-content: center;

    width: 100%;
    height: 6.4rem;
    background-color: $color-bg-card;

    border-radius: 0.5rem 0.5rem 0 0;

    padding: 1.67rem 1.33rem;

    @media screen and (min-width: 70rem) {
      height: 81.6%;
    }

    & > div {
      margin-bottom: 0.5rem;
      display: flex;
      justify-content: space-between;
      align-items: center;

       @media screen and (min-width: 70rem) {

          margin-bottom: 1rem;
        }

      &:last-child {
        @media screen and (min-width: 70rem) {
          flex-direction: column;
          align-items: flex-start;
          margin-bottom: 0;
        }
      }
    }

    &-title {
      font-weight: 500;
    }

    &-time-now {
      font-size: 2rem;

      @media screen and (min-width: 70rem) {
        font-size: 3rem;
        margin-bottom: 0.5rem;
      }
    }

    &-time-before {
    }
  }
}

// .card__list-play:first-child {
//   background-color: #123456;
// }
